@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);

body{
	margin:0;
	padding:0;
	color:#FFFFFF;
	font:normal 0.9em/150% 'Rokkitt', arial, verdana, sans-serif;
	text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}
	body.bg2 {
		background: #1f2739 url(images/bg2.png) repeat-x top;
	}
	body.bg3 {
		background: #2a2f37 url(images/bg3.png) repeat-x top;
	}
	body.bg4 {
		background: #131314 url(images/bg4.png) repeat-x top;
	}
	body.bg5 {
		background: #1a1a1a url(images/bg5.png) repeat-x top;
	}

#wrap {
	width:904px;
	margin: 0 auto;
	padding:0;
}

#header {
	width: 904px;
	background: url(images/header.png) no-repeat top;
}
	#header h1 {
		margin: 0;
		padding: 0;
		display: block;
		text-align: center;
		padding: 0 100px;
		padding-top: 40px;
		color: #fff;
		text-shadow: 1px 0 0 #000;
		font-family: 'Oswald', sans-serif;
	}
	#header h4 {
		margin: 0;
		padding: 0;
		display: block;
		font-weight:  normal;
		text-align: center;
		padding: 0 50px;
		padding-top: 10px;
		font-family: 'Rokkitt', serif;
		color: #ddd;
		text-shadow: 1px 0 0 #000;
	}
	strong {
		background: none;
		padding: 0;
		color: inherit;
	}
#logo {
	max-width: 100%;
	margin: 10px auto;
	margin-top: 40px;
	display: block;
	text-align: center;
}
#top {
	background: url(images/topbg.png) repeat-x top;
	height: 72px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;
}	
	#plr {
		background: url(images/plr.png) repeat-x top;
		height: 128px;
		width: 844px;
		margin: 0 auto;
	}
	
#features {

}
	#features .img {
		margin: 0 auto;
		text-align: center;
		display: block;
		width: 90%;
		height: 190px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		box-shadow: 0 0 3px #000;
		margin-bottom: 10px;
	}
	#features h3 {
		margin: 0;
		padding: 0;
		display: block;
		font-size: 24px;
		font-weight:  normal;
		padding-top: 10px;
		font-family: 'Oswald', sans-serif;
		color: #fff;
		text-shadow: 1px 0 0 #222;
	}
	#features h2 {
		margin: 0;
		padding: 0;
		display: block;
		font-size: 24px;
		font-weight:  normal;
		padding-top: 10px;
		font-family: 'Oswald', sans-serif;
		color: #fff;
		text-shadow: 1px 0 0 #222;
	}
	#features h1 {
		margin: 0;
		padding: 0;
		display: block;
		font-size: 32px;
		font-weight:  normal;
		padding-top: 10px;
		font-family: 'Oswald', sans-serif;
		color: #fff;
		text-shadow: 1px 0 0 #222;
	}
	#features h4 {
		margin: 0;
		padding: 0;
		display: block;
		font-size: 17px;
		font-weight:  normal;
		padding-top: 10px;
		color: #fff;
		text-shadow: 1px 0 0 #222;
	}
	#features h5 {
		margin: 0;
		padding: 0;
		display: block;
		font-size: 14px;
		font-weight:  normal;
		padding-top: 10px;
		color: #fff;
		text-shadow: 1px 0 0 #222;
	}
	#features p {
		margin: 0;
		padding: 0;
		display: block;
		font-weight:  normal;
		padding-top: 10px;
		font-family: 'Rokkitt', serif;
		color: #fff;
		opacity: .8;
		text-shadow: 1px 0 0 #222;
	}
	#features ul li, #features ol li {
		color: #fff;
		text-shadow: 1px 0 0 #222;
	}
#optin {
	width: 498px;
	height: 79px;
	margin: 30px auto;
	background: url(images/optin.png) no-repeat;
}
	body.optin2 #optin {
		background: url(images/optin2.png) no-repeat;
	}
	body.optin3 #optin {
		background: url(images/optin3.png) no-repeat;
	}
	body.optin4 #optin {
		background: url(images/optin4.png) no-repeat;
	}
	body.optin5 #optin {
		background: url(images/optin5.png) no-repeat;
	}
	body.optin6 #optin {
		background: url(images/optin6.png) no-repeat;
	}
	body.optin7 #optin {
		background: url(images/optin7.png) no-repeat;
	}

	#optin .email {
		width: 330px;
		padding: 26px 25px;
		font-size: 16px;
		color: #333;
		background: none;
		border: none;
		box-shadow: none;
	}
	#optin .submit {
		background: none;
		border: none;
		box-shadow: none;
		font-size: 21px;
		color: #fff;
		text-shadow: 1px 1px 2px #333;
	}
#footer {
	text-align:center;
	padding:20px;
	font-size: 11px;
	padding-top: 30px;
	clear: both
}
